* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  width: 50rem;
  height: 50rem;
  border: 1px solid #000;
}

.flex-container > div {
  background: #ccc;
  border: 1px solid #999;
  padding: 3rem;
  text-align: center;
}

#flex1 {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#flex2 {
  flex-flow: row wrap;
  justify-content: space-between;
}

#flex2 > div {
  width: 20%;
}

#flex3 {
  align-items: center;
}

#flex3 > div {
  height: 20rem;
  width: 20%;
}

#box2 {
  display: flex;
  flex-flow: row nowrap;
  /* align-content: flex-end; */
  align-items: center;
  padding: 0;
}

#box2 div {
  background: #eee;
  border: 1px solid #ccc;
  padding: 1rem 0;
}
